@use "./colors.module" as *;

$light-theme: (
  primary: #02001e,
  secondary: #05001e,
  background: #f5f6f7,
  background-primary: #ffffff,
  background-secondary: #c4c4c4,
  text: #02001e,
  text-secondary: #35334b,
  text-disabled: #9a99a5,
  text-contrast: #ffffff,
  success: #16a34a,
  info: #2563eb,
  error: #dc2626,
  warning: #facc15,
  divider: #b2b2b2,
  accent-primary: #860035,
  accent-secondary: #1924de,
  mono100: #1b1a35,
  mono200: #2a2942,
  mono300: #444259,
  mono400: #58576b,
  mono500: #767586,
  mono600: #a6a6b0,
  mono700: #d7d6db,
  mono800: #e6e5e8,
  mono900: #f5f5f6,
);

$dark-theme: (
  primary: #ffffff,
  secondary: #1d1b36,
  background: #06001e,
  background-primary: #1d1b36,
  background-secondary: #030033,
  text: #ffffff,
  text-secondary: #ccccd2,
  text-disabled: #676678,
  text-contrast: #000000,
  success: #2effa9,
  info: #00b9ff,
  error: #ff6b6b,
  warning: #eec522,
  divider: #b2b2b2,
  accent-primary: #ff0080,
  accent-secondary: #0090ff,
  mono100: #f5f5f6,
  mono200: #e6e5e8,
  mono300: #d7d6db,
  mono400: #a6a6b0,
  mono500: #767586,
  mono600: #58576b,
  mono700: #444259,
  mono800: #2a2942,
  mono900: #1b1a35,
);

$themes: (
  light: $light-theme,
  dark: $dark-theme,
);
