@use './common' as *;

body {
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --layout-padding: 24px;

  @each $key, $value in $light-theme {
    --color-#{$key}: #{derive-rgb-values-from-hex($value)};
  }

  @each $breakpoint, $padding in $layout-paddings {
    @include screen($from: $breakpoint) {
      --layout-padding: #{$padding};
    }
  }
  font-family: Montserrat, sans-serif;
  color: color(text);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: color(background);
  -webkit-overflow-x-scrolling: hidden;
  min-height: 100vh;
  // mantine dark[4] color
  background-color: #373a40;
}

@each $theme-name, $theme in $themes {
  body[data-theme='#{$theme-name}'] {
    @each $key, $value in $theme {
      --color-#{$key}: #{derive-rgb-values-from-hex($value)};
    }
  }
}

html {
  font-size: em(14px, 16px);
}
