@mixin font-face(
  $font-name,
  $font-path,
  // path + file name. Ex : path/to/font/filename
  $font-weight: 400,
  $font-style: normal
) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url('#{$font-path}.otf') format('truetype');
    font-display: swap;
  }
}
